# Binaries*.7z*.dmg*.gz*.iso*.jar*.rar*.tar*.zip*.war*.ear*.sar*.class# Maventarget/# IntelliJ project files*.iml*.iws*.ipr.idea/# eclipse project file.settings/.classpath.project# NetBeans specificnbproject/private/build/nbbuild/dist/nbdist/nbactions.xmlnb-configuration.xml# OS.DS_Store# Misc*.swprelease.propertiespom.xml.releaseBackuppom.xml.tag